mixin prikaziOceno(ocena)
  - for (var i = 1; i <= ocena; i++)
    span.glyphicon.glyphicon-star
  - for (var i = ocena; i < 5; i++)
    span.glyphicon.glyphicon-star-empty

mixin formatirajDatum(nizDatum)
  - datum = new Date(nizDatum);
  - var imenaMesecev = ["januar", "februar", "marec", "april", "maj", "junij", "julij", "avgust", "september", "oktober", "november", "december"];
  - var d = datum.getDate();
  - var m = imenaMesecev[datum.getMonth()];
  - var l = datum.getFullYear();
  - var odgovor = d + ". " + m + ", " + l;
  = odgovor