<navigacija></navigacija>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <form ng-submit="vm.posiljanjePodatkov()" autocomplete="off">
        <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
        <div class="form-group">
          <label for="naziv">Naziv</label>
          <input type="text" class="form-control" id="naziv" placeholder="Vnesite naziv lokacije (npr. Ljubljanski grad)" ng-model="vm.lokacija.naziv">
        </div>
        <div class="form-group">
          <label for="naslov">Naslov</label>
          <input type="text" class="form-control" id="naslov" placeholder="Vnesite naslov lokacije (npr. Grajska planota 1, 1000 Ljubljana, Slovenija)" ng-model="vm.lokacija.naslov">
        </div>
        <div class="form-group">
          <label>GPS koordinate</label>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <input type="number" step="0.000001" class="form-control" id="lng" placeholder="Vnesite (lng) dolžino (npr. 14.508365)" ng-model="vm.lokacija.lng">
            </div>
            <div class="col-md-6 col-sm-6">
              <input type="number" step="0.000001" class="form-control" id="lat" placeholder="Vnesite (lat) širino (npr. 46.048904)" ng-model="vm.lokacija.lat">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastnosti">Lastnosti</label>
          <input type="text" class="form-control" id="lastnosti" placeholder="Vnesite lastnosti lokacije, ločene z vejico (npr. lep razgled, vstopnina, vzpenjača, staro mestno jedro)" ng-model="vm.lokacija.lastnosti">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3"><label>Dnevi delovnega časa</label></div>
            <div class="col-sm-3"><label>Čas odprtja</label></div>
            <div class="col-sm-3"><label>Čas zaprtja</label></div>
            <div class="col-sm-3"><label>Ali je zaprto?</label></div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.lokacija.dnevi1">
                  <option></option>
                  <option ng-repeat="dan in ['ponedeljek - petek', 'vikend']">{{ dan }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.lokacija.odprtje1">
                  <option></option>
                  <option ng-repeat="ura in ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']">{{ ura }}:00</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.lokacija.zaprtje1">
                  <option></option>
                  <option ng-repeat="ura in ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']">{{ ura }}:00</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="vm.lokacija.zaprto1" ng-value="false">zaprto</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.lokacija.dnevi2">
                  <option></option>
                  <option ng-repeat="dan in ['ponedeljek - petek', 'vikend']">{{ dan }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.lokacija.odprtje2">
                  <option></option>
                  <option ng-repeat="ura in ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']">{{ ura }}:00</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.lokacija.zaprtje2">
                  <option></option>
                  <option ng-repeat="ura in ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']">{{ ura }}:00</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="vm.lokacija.zaprto2">zaprto</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a ng-click="vm.testniPodatki()" class="btn btn-default btn-sm">Napolni testne podatke</a>
        <button type="submit" class="btn btn-default btn-sm">Dodaj lokacijo</button>
      </form>
    </div>
  </div>

  <noga></noga>
</div>